<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
        <!--
       <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
       
        <td mat-cell *matCellDef="let element"> {{element.id}}
            <img src="https://www.ford.mx/content/dam/Ford/website-assets/latam/mx/nameplate/figo/2019/showroom/ford-figo-2019-auto-compacto-lateral-gris.png">
        </td>
       </ng-container>
        -->
       <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon class="icon-status-active" *ngIf="element.vehicleStatusId==1" >brightness_1</mat-icon>
                <mat-icon class="icon-status-inactive" *ngIf="element.vehicleStatusId!=1" >brightness_1</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="groupId">
            <th mat-header-cell *matHeaderCellDef> Group </th>
            <td mat-cell *matCellDef="let element"> {{element.groupId}} </td>
        </ng-container>

        <ng-container matColumnDef="meterValue">
            <th mat-header-cell *matHeaderCellDef> Meter Value </th>
            <td mat-cell *matCellDef="let element"> {{element.meterValue}} </td>
        </ng-container>
        
        <ng-container matColumnDef="organization">
            <th mat-header-cell *matHeaderCellDef> Organization </th>
            <td mat-cell *matCellDef="let element"> {{element.organization}} </td>
        </ng-container>       

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

        <div class="container">
          <div class="row">
            <b>Vehicle Details: </b>
          </div>  
          <div class="row">
              <mat-list style="width: 100%">
                  <mat-list-item> <div class="col-sm-4"> Name: </div>  <div class="col-sm-8"> {{element.name}} </div></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item> <div class="col-sm-4"> Group: </div>  <div class="col-sm-8"> {{element.group}} </div></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item> <div class="col-sm-4"> Operator: </div>  <div class="col-sm-8"> {{element.owner}} </div></mat-list-item>
                  <mat-divider></mat-divider>                      
                  <mat-list-item> <div class="col-sm-4"> Type: </div>  <div class="col-sm-8"> {{element.type}} </div></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item> <div class="col-sm-4"> Status: </div>  
                    <div class="col-sm-8" *ngIf="element.vehicleStatusId==1"> <mat-icon class="icon-status-active">brightness_1</mat-icon> Active </div>
                    <div class="col-sm-8" *ngIf="element.vehicleStatusId!=1"> <mat-icon class="icon-status-inactive">brightness_1</mat-icon> Inactive </div>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item> <div class="col-sm-4"> VIN/SN: </div>  <div class="col-sm-8"> {{element.vin}} </div></mat-list-item>
                  <mat-divider></mat-divider>                                    
              </mat-list>
          </div>
        </div>
        <div class="container">
            <div class="row">  

                <div class="row">
                    <b>Task: </b>
                </div>

            </div>
            <div class="row">  
                <div class="row">
                    <b>Documents: </b>
                </div>

            </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>